* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.navbar {
  color: aliceblue;
}

.nav-brand {
  color: azure;
}

.nav-user-info {
  display: grid;
  text-align: right;
  flex-direction: column;
}

.ship-actions {
  display: grid;
  justify-content: center;
  padding-bottom: 20px;
}

.center-content {
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.page-display {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  width: 100vw;
  padding-top: 20px;
}

.agent-list {
  min-width: 500px;
  width: 50vw;
}

div.contract-card {
  width: 70vw;
  padding: 0px !important;
}

div.waypoints-grid {
  display: grid;
  width: 100vw;
  height: 100%;
  gap: 10px;
  padding: 20px;
  grid-template-columns: 1fr 1fr;
}

div.waypoint-pills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.opposite-flex {
  display: flex;
  justify-content: space-between;
}

.accordion-ship-information {
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: auto 1fr auto 1fr;
}
.progress-empty-bar {
  background-color: grey !important;
}

.grid-span-4 {
  grid-column: span 4;
}

.ship-location-information {
  display: grid;
  border-width: 2px;
  border-color: black
}

.ship-location-actions {
  padding-bottom: 10px;
}

.new-user-form {
  width: 60vw;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.register-user-form {
  display: grid;
  width: 60vw;
  align-self: center;
  justify-content: center;
  margin-top: 20px;
}

.can-click {
  cursor: pointer;
}
.bolden {
  font-weight: bold;
}
.navbar-userInfo {
  height: 100%;
  display: grid;
  align-items: center;
  align-content: center;
  align-content: center;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  padding-right: 20px;
}

.align-text-right {
  text-align: right;
}
.nav-link {
  padding-right: 10px !important;
}
.nav-link:hover {
  color: #73b5f8 !important;
}