* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  color: aliceblue;
}

.nav-brand {
  color: azure;
}

.nav-user-info {
  display: grid;
  text-align: right;
  flex-direction: column;
}

.agent-list {
  min-width: 80vw;
  max-width: 800px;
}